#!/bin/bash

# REQUIRES: NUM_GPU
echo "Set up your environment here, for example, conda activate {env} or source {env}/bin/activate"

export OMP_NUM_THREADS=8
export WANDB_PROJECT=YOUR-WANDB-PROJECT-NAME

torchrun --nnodes=1 --nproc_per_node=$NUM_GPU run_clm.py $1

